In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Health_insurance.csv")

In [3]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
'''import plotly.express as px
data = data
figure = px.histogram(data, x = "sex", color = "smoker", title= "Number of Smokers")
figure.show()'''

'import plotly.express as px\ndata = data\nfigure = px.histogram(data, x = "sex", color = "smoker", title= "Number of Smokers")\nfigure.show()'

In [6]:
#pip install plotly

In [7]:
data["sex"] = data["sex"].map({"female": 0, "male": 1})
data["smoker"] = data["smoker"].map({"no": 0, "yes": 1})
print(data.head())

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [8]:
import matplotlib.pyplot as plt

In [9]:
data.corr()

               age       sex       bmi  children    smoker   charges
age       1.000000 -0.020856  0.109272  0.042469 -0.025019  0.299008
sex      -0.020856  1.000000  0.046371  0.017163  0.076185  0.057292
bmi       0.109272  0.046371  1.000000  0.012759  0.003750  0.198341
children  0.042469  0.017163  0.012759  1.000000  0.007673  0.067998
smoker   -0.025019  0.076185  0.003750  0.007673  1.000000  0.787251
charges   0.299008  0.057292  0.198341  0.067998  0.787251  1.000000

In [10]:
x = np.array(data[["age", "sex", "bmi", "smoker"]])
y = np.array(data["charges"])

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
xtrain.shape

(1070, 4)

In [15]:
xtest.shape

(268, 4)

In [16]:
1070+268

1338

In [13]:
xtest

array([[45.   ,  0.   , 25.175,  0.   ],
       [36.   ,  0.   , 30.02 ,  0.   ],
       [64.   ,  0.   , 26.885,  1.   ],
       ...,
       [38.   ,  1.   , 28.025,  0.   ],
       [54.   ,  0.   , 47.41 ,  1.   ],
       [51.   ,  0.   , 34.2  ,  0.   ]])

In [14]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor()
forest.fit(xtrain, ytrain)

RandomForestRegressor()

In [28]:
ypred = forest.predict(xtest)
data = pd.DataFrame(data={"Predicted Premium Amount": ypred})

In [29]:
print('predicted \t givenamount')
print(np.concatenate((ypred.reshape(len(ypred),1), ytest.reshape(len(ytest),1)),1))
print(data.head(5))

predicted 	 givenamount
[[ 9881.0677905   9095.06825   ]
 [ 5498.5667215   5272.1758    ]
 [28333.90431    29330.98315   ]
 [10012.8498394   9301.89355   ]
 [34881.6610587  33750.2918    ]
 [ 7959.7503351   4536.259     ]
 [ 2448.050177    2117.33885   ]
 [14959.1165354  14210.53595   ]
 [ 5744.8982841   3732.6251    ]
 [ 9459.0575212  10264.4421    ]
 [19872.1436204  18259.216     ]
 [ 7442.3084515   7256.7231    ]
 [ 8742.6542807   3947.4131    ]
 [45706.5412122  46151.1245    ]
 [48670.8569738  48673.5588    ]
 [45576.0451568  44202.6536    ]
 [10305.7017975   9800.8882    ]
 [43038.0326099  42969.8527    ]
 [ 9322.0567285   8233.0975    ]
 [26335.86156    21774.32215   ]
 [ 5850.1099277   5080.096     ]
 [ 8529.3503383   7441.501     ]
 [ 2637.2222939   1256.299     ]
 [ 2601.0326003   2755.02095   ]
 [12156.0016231  11085.5868    ]
 [12647.51005227 10923.9332    ]
 [17910.3567254  12644.589     ]
 [10305.961487   18804.7524    ]
 [10778.090636    9715.841     ]
 [ 5445.5000884   1131.5066    ]
 [ 6666.804296   15828.82173   ]
 [15062.79253183 11842.62375   ]
 [ 3916.7831637   2020.5523    ]
 [ 4641.527778    5693.4305    ]
 [ 4328.1399231   2904.088     ]
 [ 8689.4410666   7448.40395   ]
 [ 3404.9303324   2597.779     ]
 [10208.4425536   7337.748     ]
 [24514.30383    23887.6627    ]
 [39005.0339519  38709.176     ]
 [ 3002.76755468  4687.797     ]
 [ 2989.40884617  2643.2685    ]
 [12326.51435    11674.13      ]
 [13294.8535794  12124.9924    ]
 [ 5555.987509    4889.9995    ]
 [12183.0398365  12333.828     ]
 [11698.1946636   3579.8287    ]
 [ 8126.183714    4391.652     ]
 [41743.3337553  42124.5153    ]
 [ 8817.2946409   4463.2051    ]
 [15246.7531842  13887.204     ]
 [ 2398.08479071  1719.4363    ]
 [ 6316.934246   28476.73499   ]
 [ 2341.86136653  1708.92575   ]
 [11566.091      10594.2257    ]
 [ 9322.6990025  25333.33284   ]
 [ 4536.6452085   3645.0894    ]
 [43962.0080782  38746.3551    ]
 [14295.9966819  11848.141     ]
 [16470.2974849  10564.8845    ]
 [14995.5525648  13880.949     ]
 [ 6527.4338327   4753.6368    ]
 [13543.2807237  27941.28758   ]
 [ 7923.2952987   8017.06115   ]
 [10892.5793396  23045.56616   ]
 [ 4368.732783    4133.64165   ]
 [17387.0865565  17942.106     ]
 [13917.8003781  25992.82104   ]
 [ 4896.7938886   3594.17085   ]
 [ 3354.2967045   1682.597     ]
 [ 7247.3377225   6079.6715    ]
 [ 9830.4758059   9411.005     ]
 [13973.78765     8283.6807    ]
 [ 9046.254511    6338.0756    ]
 [ 8677.7353761   7152.6714    ]
 [ 5496.8129525   4889.0368    ]
 [ 3496.0822904   4846.92015   ]
 [13077.3055611  11454.0215    ]
 [ 5028.8311256   4349.462     ]
 [11185.4981558   9101.798     ]
 [ 7301.1803979   1391.5287    ]
 [28175.7525865  28101.33305   ]
 [ 7165.5803248   5152.134     ]
 [37918.3055011  38511.6283    ]
 [40587.408895   44501.3982    ]
 [41740.453725   41097.16175   ]
 [ 4274.3776245   4837.5823    ]
 [12499.7526748  10601.63225   ]
 [ 8603.219307    8310.83915   ]
 [13541.5879349  11264.541     ]
 [14662.2952736  15230.32405   ]
 [26318.98753365 27037.9141    ]
 [27989.4400709  23401.30575   ]
 [ 4671.0075017   5031.26955   ]
 [46481.64728    38282.7495    ]
 [ 6832.3558927   6875.961     ]
 [21083.4170937  19719.6947    ]
 [ 3922.6124855   1880.07      ]
 [17789.782924   18765.87545   ]
 [ 7319.8584232   6402.29135   ]
 [ 4860.854512    4527.18295   ]
 [ 2792.84149708  1743.214     ]
 [ 8214.7209205   5709.1644    ]
 [11502.2374836  12363.547     ]
 [15128.8331008  13129.60345   ]
 [ 3490.1995815   1727.54      ]
 [ 9249.592179    7731.4271    ]
 [23145.36077409 21195.818     ]
 [ 6066.6371624   1702.4553    ]
 [24821.60200605 23244.7902    ]
 [ 1346.7546665  23082.95533   ]
 [ 4356.7765866   2927.0647    ]
 [12703.7635551  13019.16105   ]
 [39070.4765799  37701.8768    ]
 [ 9602.464518    9778.3472    ]
 [ 7093.8159689   1980.07      ]
 [12693.061355   30259.99556   ]
 [26335.86156    22478.6       ]
 [ 5973.8744295   6313.759     ]
 [ 5876.3307507   2789.0574    ]
 [ 6634.7078699   5594.8455    ]
 [ 7297.738247    7261.741     ]
 [11694.2827749  11396.9002    ]
 [ 4607.9043297   1986.9334    ]
 [ 7060.9553204   4719.73655   ]
 [ 7897.383998    7749.1564    ]
 [16588.2728156   7345.7266    ]
 [ 9696.0532148   9288.0267    ]
 [26967.5607514  12244.531     ]
 [ 3172.8672702   1837.2819    ]
 [ 4625.1946797   3972.9247    ]
 [ 5494.9580776   5934.3798    ]
 [ 6844.1145809   5836.5204    ]
 [ 9172.9064905   7935.29115   ]
 [ 7666.7162098   5649.715     ]
 [20825.0757982  12347.172     ]
 [ 5417.8399252  12404.8791    ]
 [38652.7341791  22144.032     ]
 [46604.5930941  42983.4585    ]
 [39780.4153355  37270.1512    ]
 [ 7695.1802002   5267.81815   ]
 [10876.7296033   9866.30485   ]
 [ 3762.4164183   2322.6218    ]
 [11206.2193826  33471.97189   ]
 [ 3701.4484059   2137.6536    ]
 [23991.0522977  23306.547     ]
 [ 5257.1653529   5261.46945   ]
 [ 4421.837959    3761.292     ]
 [10258.2584015  11436.73815   ]
 [ 5272.2082506   4751.07      ]
 [46589.0015716  46661.4424    ]
 [11866.7894214   2690.1138    ]
 [ 1991.8796373   1146.7966    ]
 [44380.623242   37607.5277    ]
 [ 5944.3218154   6373.55735   ]
 [ 4626.6039963   4518.82625   ]
 [15755.4955807  13555.0049    ]
 [11190.3559948   8547.6913    ]
 [36249.3486206  34439.8559    ]
 [39757.231371   39125.33225   ]
 [14790.04012373 13607.36875   ]
 [ 2142.75662517  2710.82855   ]
 [19889.5545116  14988.432     ]
 [10084.6643644   2396.0959    ]
 [ 4318.45464     3591.48      ]
 [ 7417.0958186   7162.0122    ]
 [48559.0653961  48824.45      ]
 [44098.6359364  43578.9394    ]
 [40126.8427607  39556.4945    ]
 [ 5307.027977    2632.992     ]
 [ 9768.0855479   9182.17      ]
 [ 7736.2153786   6238.298     ]
 [ 7309.8151175   5757.41345   ]
 [ 4258.3935225   4239.89265   ]
 [ 4048.8055959   2154.361     ]
 [23514.98387017 21978.6769    ]
 [17075.400754   16297.846     ]
 [14936.0621762  13831.1152    ]
 [16588.2270625  32734.1863    ]
 [11962.5712045  11830.6072    ]
 [28384.491825   29523.1656    ]
 [ 3095.3565173   3167.45585   ]
 [ 9068.6617833   8428.0693    ]
 [ 6230.378331    5012.471     ]
 [ 4568.0824406   5209.57885   ]
 [ 9056.8918265   2855.43755   ]
 [13988.2872164  20277.80751   ]
 [ 4227.6084647   3554.203     ]
 [10184.664677    8569.8618    ]
 [11444.0022676  10594.50155   ]
 [ 2721.415437    3597.596     ]
 [ 3854.98398662  7323.734819  ]
 [ 2855.2746789   2731.9122    ]
 [49258.0658318  38711.        ]
 [13291.6982628  12981.3457    ]
 [10789.1892303   9283.562     ]
 [ 2443.306263    2709.1119    ]
 [12476.1236336  12096.6512    ]
 [ 1930.116377    2198.18985   ]
 [11719.8155936   8932.084     ]
 [ 3230.478627    3176.2877    ]
 [24566.7830015  24393.6224    ]
 [ 8214.921373    4266.1658    ]
 [ 1460.321388   22493.65964   ]
 [18096.0033363  17085.2676    ]
 [18255.9404192  16577.7795    ]
 [ 9909.8983531   8827.2099    ]
 [ 2817.078701    4296.2712    ]
 [10933.5858233   7804.1605    ]
 [ 4932.7179871   3208.787     ]
 [14679.36781117 12957.118     ]
 [12091.0774327  22192.43711   ]
 [ 9277.7564942   9432.9253    ]
 [18693.1312708  17043.3414    ]
 [ 6991.7086433   6593.5083    ]
 [ 4263.8179852   4137.5227    ]
 [ 5085.722379    4779.6023    ]
 [13494.104313   14001.2867    ]
 [15819.22481113 12629.8967    ]
 [ 5568.0474211   5245.2269    ]
 [ 3694.9914993   2404.7338    ]
 [ 8891.5577646   6948.7008    ]
 [ 9673.6328116   6435.6237    ]
 [45482.8667723  42560.4304    ]
 [ 2717.3776843   2055.3249    ]
 [38488.0141711  34672.1472    ]
 [ 2211.808273    1731.677     ]
 [ 3039.0503466   1639.5631    ]
 [ 9858.9510987   9377.9047    ]
 [10312.4692465  10977.2063    ]
 [ 3230.393704    1534.3045    ]
 [ 9438.816357    9644.2525    ]
 [13479.8215627   4529.477     ]
 [26804.2533639  37829.7242    ]
 [11806.523181    9991.03765   ]
 [12294.9241064   8125.7845    ]
 [ 3676.6204217   3877.30425   ]
 [14105.0152667   5979.731     ]
 [44654.5602522  43896.3763    ]
 [ 3662.969391    1674.6323    ]
 [14889.30697727 13204.28565   ]
 [39759.4724889  44585.45587   ]
 [ 3942.4947689   3021.80915   ]
 [ 7805.9400936   3392.9768    ]
 [ 1814.13451117  1632.03625   ]
 [ 3767.4866112   2699.56835   ]
 [ 5402.6900298  20177.67113   ]
 [ 4777.3984565   4076.497     ]
 [10719.9249355  12592.5345    ]
 [ 1744.4289579   1621.3402    ]
 [ 3470.60727633  1875.344     ]
 [ 6829.8822648   7196.867     ]
 [ 4629.211071    3161.454     ]
 [11953.093465   12029.2867    ]
 [ 3060.7764002   2719.27975   ]
 [ 8235.2104895  18218.16139   ]
 [12568.6592725  12146.971     ]
 [ 4806.5634614   3292.52985   ]
 [ 9563.9234824   8688.85885   ]
 [ 5820.4550514   6113.23105   ]
 [ 6559.750325    8059.6791    ]
 [14794.2103556  13415.0381    ]
 [19961.8021244  18246.4955    ]
 [47879.8447082  47055.5321    ]
 [12075.5190871  12222.8983    ]
 [ 6307.8037235   6067.12675   ]
 [46959.9826232  63770.42801   ]
 [10783.8780748   9872.701     ]]
   Predicted Premium Amount
0               9881.067791
1               5498.566722
2              28333.904310
3              10012.849839
4              34881.661059